/* Navbar container */

body {
    background-image: url("https://media.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif");
}

.navbar {
    background-color: rgb(48, 48, 94);
    font-family: Arial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}


/* Links inside the navbar */

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* The dropdown container */

.dropdown {
    float: left;
    overflow: hidden;
}


/* Dropdown button */

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px;
    padding-top: 18px;
    background-color: inherit;
    font-family: 'Dancing Script', cursive;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}


/* Add a red background color to navbar links on hover */

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(99, 118, 224);
    color: black;
}


/* Dropdown content (hidden by default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
}


/* Links inside the dropdown */

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/* Add a grey background color to dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

#name {
    color: rgb(233, 241, 243);
    display: inline-block;
    padding: 14px 16px;
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Dancing Script', cursive;
}

#gif {
    display: inline-block;
    height: 40x;
    width: 40px;
    float: right;
    padding: 9px 9px;
    margin-right: 3px;
    border-radius: 45%;
    /* margin-top: 6px; */
}

#avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}